body {
    background-color: rgb(255, 176, 31);
}

h1 {
    text-align: center;
    color: rgb(189, 44, 0);
    margin-bottom: 20px;
}

.center {
    text-align: center;
    margin-top: 30px;
}

.uneaten {
	background-color: #e3e3e3;

	border-style: inset;
	border-width: 3px;
	border-color: #c78282;
	margin: 2px 0px 2px 0px;
	padding: 1px;
}

.eaten {
	background-color: #868585;
	border-style: inset;
	border-width: 3px;
	border-color: #fff2e8;
	margin: 2px 0px 2px 0px;
	padding: 1px;
	color: #ffffff;
}

.burger_field {
	width: 200px;
	height: 50px;
}
.devour{
	color:#ffffff;
	margin-top: 1px;
	background-color: rgb(131, 103, 131);
}